*.o
*.lo
*.a
*.la
*.gmo
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
Makefile.org
COPYING
POTFILES
aclocal.m4
config.guess
config.h
config.h.in
config.h.org
config.log
config.status
config.sub
configure
depcomp
file_lists
file_lists_ppd
install
install-sh
libtool
ltmain.sh
missing
stamp-h1

# Binaries
com/libs_bin*/*.so
cmdtocanonij2/filter/cmdtocanonij2
cnijbe2/src/cnijbe2
lgmon3/m4/
lgmon3/src/cnijlgmon3
rastertocanonij/src/rastertocanonij
tocanonij/src/tocanonij
tocnpwg/src/tocnpwg

# Debian files
/debian/*.debhelper.log
/debian/*.substvars
/debian/cnijfilter2/
/debian/files
/debian/printer-driver-cnijfilter2/
build-stamp
configure-stamp
